.services-section {
  width: 100%;
  padding: 0 40px;
  margin-block: 30px;
}

.services-section .container{
  background-image: url('./bg.svg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 20px;
}