/* Home.css */
.in-view {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  

.page-content.inactive {
  pointer-events: none; 
  overflow: hidden;
  overscroll-behavior: none;
}
