/* Hero.css */
*{
    box-sizing: border-box;
}


.hero {
    max-height: 800px;
    display: flex;
    align-items: flex-start;
    text-align: start;
    color: #fff;
}

.hero .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    background-image: url('hero-background.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
}


.hero-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 70px 20px;
}

.hero-text {
    flex: 1;
    padding: 10px;
}

.hero-text h1 {
    color: #F4F4F4;
    font-family: Georgia;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.hero-text p {
    flex-shrink: 0;
    color: #F4F4F4;
    font-family: Poppins, sans-serif;
    /* Replace with your desired font name or font stack */
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
}

.hero-text .highlighted-text {
    color: #2F80ED;
    font-family: Poppins, sans-serif;
    /* Replace with your desired font name or font stack */
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
}


.hero-image {
    flex: 0 0 30%;
    /* Image occupying 30% of the width to the right */
    padding: 20px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.hero-button {
    flex: 1;
    padding: 20px;
}

.hero-button button {
    border-radius: 50px;
    background: #2F80ED;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;
    color: #F4F4F4;
    font-family: Georgia;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.hero-button button:hover {
    background-color: #1C60CC;
}

@media (max-width: 767px) {
    .hero-text h1{
        font-size: 32px;
    }

    .hero-text .highlighted-text{
        font-size: 18px;
    }

    .hero-text p{
        font-size: 22px;
    }

    .hero-content{
        padding-inline: 0;
    }

    .hero-button button {
        font-size: 12px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    
}

/* Large screens (992px to 1199px) */
@media  (max-width: 999px) {
    .hero .container {
        background-color: black;
        background-image: none;
    }

    .hero-content{
        flex-direction: column;
    }

    .hero-text .highlighted-text{
        color: #F4F4F4;
        opacity: 0.8;
    }

    .hero-image{
        position: absolute;
        display: flex;
        justify-content: center;
        z-index: 0;
        left: 0;
        right: 0;
        margin-top: -20px;
    }

    
    .hero-image img{
        height: 400px;
    }

    .hero-text{
        z-index: 1;
        text-align: center;
        background-color: #101010;
        opacity: 0.8;
        padding-block: 10px;
    }
}

/* Extra Large screens (1200px and above) */
@media (min-width: 1200px) {
  
}
