.contact-section {
    padding-block: 80px;
}



.contact-section .container .back-image {
    position: absolute;
    top: -40px;
    right: -40px;
    z-index: 1;
}

.contact-section .contact-content {
    max-width: 900px;
    width: 80%;
    margin: 10px auto;
    position: relative;
}


.contact-section .contact-box {
    background: #F4F4F4;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;
    box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.15), 4px 4px 20px 0px #C1C1C1 inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.contact-section .contact-box h2 {
    color: #101010;
    font-family: Georgia;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.contact-section .contact-box p {
    color: rgba(16, 16, 16, 0.60);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}


.contact-section .contact-box input::placeholder,
.contact-section .contact-box textarea::placeholder {
    color: rgba(16, 16, 16, 0.50);
}


.contact-section .contact-box input,
.contact-section .contact-box textarea,
.contact-section .contact-box button {
    font-family: Poppins;
    font-size: 20px;
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    outline: none;
    border: 1px solid #000;
    border-width: 0 0 1px 0;
    padding: 10px;
    width: 70%;
    min-width: 300px;
}

.contact-section .contact-box button {
    border: none;
    background-color: #2F80ED;
    color: #F4F4F4;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.4s ease-in;
}

.contact-section .contact-box button:hover {
    background-color: #0f5ec6;
}


@media (max-width: 767px) {
    .contact-section .contact-content {
        width: 90%;
    }

    .contact-section .container .back-image {
        top: -20px;
        right: -20px;
    }

    .contact-section .container .back-image img {
        width: 50px;
        height: 50px;
    }

    .contact-section .contact-box {
        padding: 30px 20px;
        align-items: center;
        background: #F4F4F4;
        box-shadow: 4.11738px 4.11738px 8.23476px 0px rgba(0, 0, 0, 0.15), 1.09797px 1.09797px 5.48984px 0px #C1C1C1 inset, 0px 1.09797px 1.09797px 0px rgba(0, 0, 0, 0.25);
    }

    .contact-section .contact-box h2 {
        color: #101010;
        text-align: center;
        font-family: Georgia;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }

    .contact-section .contact-box p {
        font-size: 16px;
        text-align: center;
    }

    .contact-section .contact-box input,
    .contact-section .contact-box textarea {
        font-size: 14px;

    }

    .contact-section .contact-box button {
        font-size: 14px;
    }


}