.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}








@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Container{
  max-width: 1440px;
}


.AppNavBar {
  /* Define styles for your navigation bar */
  background-color: #4f4f4f;
  color: #fff;
  padding: 10px;
  position: fixed; /* Fixed position for the navigation bar */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; /* Place the navigation bar above other content */
}


.Hero {
  /* Define styles for your Hero section */
  height: calc(100vh - 70px); /* Subtract the height of the navigation bar */
  margin-top: 70px; /* Push the Hero section down below the navigation bar */
  /* Add other styles as needed */
}